.active {
  color: grey;
}

.btn {
  background-color: #f3f3f2;
  color: #000;
  border: 1px solid grey;
  text-transform: capitalize;
}
.btn:hover {
  background-color: #e7e7eb;
}

.about_btn{
    text-transform: capitalize;
    color: black;
    font-weight: bold;
    /* padding: 10px; */
}

.verifyCont {
    /* padding-bottom: 40px; */
  display: flex;
  justify-content: space-between;
  background-color: red;
  /* position: relative; */
  /* padding: 10px; */
}

.linkBox {
  display: none;
  width: 50%;
  position: absolute;
  top: 60px;
  background-color: #ffffff;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.verifyCont:hover .linkBox {
  display: block;
}
